@tailwind base;
@tailwind components;
@tailwind utilities;
//---------------Global----------------
* {
  box-sizing: border-box;
}

.layout {
  color: black;
  margin: 0 !important;
  padding: 0;
  height: 100vh;
  width: 100vw;
  .layout-right {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: auto;
    background-size: 100% 100%;
    background-position: center;
  }
}

.container-logo {
  margin-bottom: 64px;
  .monday-logo {
    width: 134px;
    height: 24px;
  }
}

.container-logo-mb {
  .monday-logo {
    padding: 8px 0;
    position: fixed;
    bottom: 0;
  }
}
// --------------SignUpNew-------------
.SignUpNew {
  color: black;
  margin: 0 !important;
  padding: 0;
  height: 100vh;
  width: 100vw;
  .SignUpNew-left {
    .row-sign-up {
      flex: 1;
      .welcome-text {
        .welcome-h1 {
          color: #323338;
          font-size: 32px;
          padding: 0 4px;
          margin-bottom: 9px;
          text-align: center;
        }
        .welcome-h2 {
          font-size: 16px;
          padding: 0 4px;
          margin-bottom: 48px;
          text-align: center;
          font-weight: 400;
        }
      }
      .sign-up-content {
        width: 400px;
        @media only screen and (max-width: 768px) {
          width: 375px;
        }
        .sign-up-with-google {
          .sign-up-with-google-button {
            line-height: 22px;
            height: 40px;
            width: 100%;
            border: 1px solid #c3c6d4;
            color: #323338;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            &:hover {
              background-color: #dcdfec;
            }
            .google-icon {
              margin-right: 10px;
            }
          }
        }
        .line-center {
          margin: 16px 0;
          display: grid;
          gap: 8px;
          grid-template-columns: 1fr auto 1fr;
          .line-text {
            margin: 0;
          }
          .line {
            align-self: flex-end;
            border-top: 1px solid #d0d4e4;
            height: 50%;
          }
        }
        .sign-up-with-mail {
          .input-mail {
            input {
              border: 1px solid #323338;
              padding: 8px 16px;
              width: 100%;
              margin-bottom: 16px;
              border-radius: 5px;
            }
          }
          .button-continue {
            .input-mail-button {
              display: inline-block;
              background-color: #0073ea;
              color: white;
              width: 100%;
              height: 40px;
              padding: 8px 16px;
              border-radius: 5px;
              text-decoration: none;
              &:hover {
                background-color: #0060b9;
              }
            }
          }
        }
        .term-container {
          margin-top: 16px;
          .term-text {
            padding: 0 4px;
          }
          .term-link {
            a {
              color: #1f76c2;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .login-allready {
      margin-bottom: 64px;
      .login-allready-h3 {
        font-size: 16px;
        a {
          color: #1f76c2;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .SignUpNew-right {
    margin: 0;
    padding: 0;
    background-image: url("https://dapulse-res.cloudinary.com/image/upload/monday_platform/signup/signup-right-side-assets-new-flow/welcome-to-monday.png");
    background-size: auto;
    background-size: 100% 100%;
    background-position: center;
  }
}

// --------------Invitation-------------
.Invitation {
  padding: 0;
  height: 100%;
  width: 100%;
  .invitation-left {
    height: 100%;
    width: 100%;
    padding: 64px 128px;
    .row-invitation {
      flex: 1;
      position: relative;
      .sign-up-container {
        .form-title {
          margin-bottom: 24px;
          .form-title-h1 {
            font-weight: 500;
            color: #323338;
            font-size: 24px;
          }
        }
        .sign-up-form {
          .sign-up-item {
            margin-bottom: 0;
            width: 75%;
            min-height: 104px;
            min-width: 37vw;
            .sign-up-label {
              color: #323338;
              font-size: 14px;
            }
            .sign-up-input {
              width: 100%;
              height: 48px;
              outline: 0;
              border: 1px solid #c3c6d4;
              padding: 8px 16px;
              box-shadow: none;
              &:active {
                border-color: #0073ea;
              }
              &:hover {
                border-color: #323338;
              }
            }
            .sign-up-validate {
              border-color: #d83a52;
            }
            .sign-up-danger {
              display: none;
              color: #d83a52;
            }
          }
          .btn-sign-up-form {
            position: absolute;
            bottom: 0;
            right: 0;
            width: fit-content;
            padding: 8px 16px;
            border-radius: 2px;
            .submit-icon {
              width: 20px;
              height: 20px;
              display: inline-block;
              margin-left: 4px;
            }
          }
        }
      }
    }
  }
  .invitation-left-mb {
    .sign-up-container {
      position: relative;
      flex-grow: 1;
      min-height: 0;
      height: 90%;
      padding: 0px 12px;
      margin-top: 32px;
      .form-title {
        margin-bottom: 16px;
        .form-title-h1 {
          font-size: 24px;
        }
      }
      .sign-up-form {
        position: relative;
        margin-top: 24px;
        .sign-up-item {
          margin-bottom: 32px;
          .sign-up-label {
            font-size: 14px;
          }
          .sign-up-input {
            padding: 8px 16px;
          }
          .sign-up-danger {
            display: none;
            color: #d83a52;
          }
        }
        .btn-sign-up-form {
          margin-top: 48px;
          display: flex;
          justify-content: center;
          width: 100%;

          padding: 12px 24px;
        }
        .disabled {
          opacity: 0.6;
          cursor: not-allowed;
          background-color: #ecedf5;
          color: rgba(50, 51, 56, 0.38);
          border-color: #ecedf5;
        }
      }
    }
  }
}

// --------------Invitation1-------------
.Invitation1 {
  padding: 0;
  height: 100%;
  width: 100%;
  .invitation1-left {
    height: 100%;
    width: 100%;
    padding: 64px 128px;
    .row-invitation1 {
      flex: 1;
      position: relative;
      .sign-up-container {
        .form-title {
          margin-bottom: 8px;
          .form-title-h1 {
            font-weight: 500;
            color: #323338;
            font-size: 24px;
          }
        }
        .sign-up-form {
          .list-radio {
            display: flex;
            flex-wrap: wrap;
            margin-left: -8px;
            .radio-container {
              margin-left: 8px;
              margin-top: 16px;
              padding: 4px 12px;
              font-size: 16px;
              font-weight: 300;
              color: #676879;
              border: 1px solid #c3c6d4;
              border-radius: 32px;
              height: fit-content;
              .sign-up-radio-item {
                .form-check-input {
                  box-shadow: none;
                }
                .form-check-label {
                  font-size: 14px;
                }
              }
            }
          }
          .btn-sign-up-form {
            position: absolute;
            bottom: 0;
            right: 0;
            width: fit-content;
            padding: 8px 16px;
            border-radius: 2px;
            .submit-icon {
              width: 20px;
              height: 20px;
              display: inline-block;
              margin-left: 4px;
            }
          }
        }
      }
      .sign-up-container-2 {
        margin-top: 64px;
      }
    }
    .btn-sign-up-form {
      position: absolute;
      bottom: 0;
      right: 0;
      width: fit-content;
      padding: 8px 16px;
      border-radius: 5px;
      .submit-icon {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-left: 4px;
      }
    }
  }
  .invitation1-left-mb {
    .sign-up-container {
      position: relative;
      flex-grow: 1;
      min-height: 0;
      height: 90%;
      padding: 0px 12px;
      margin-top: 32px;
      .form-title {
        margin-bottom: 16px;
        .form-title-h1 {
          font-size: 24px;
        }
      }
      .sign-up-form {
        position: relative;
        margin-top: 24px;
        .btn-sign-up-form {
          margin-top: 48px;
          display: flex;
          justify-content: center;
          width: 100%;

          padding: 12px 24px;
        }
        .disabled {
          opacity: 0.6;
          cursor: not-allowed;
          background-color: #ecedf5;
          color: rgba(50, 51, 56, 0.38);
          border-color: #ecedf5;
        }
      }
    }
  }
}

// --------------InvitationCheckBox-------------
.invitationCbox {
  padding: 0;
  height: 100%;
  width: 100%;
  .invitation-cbox-left {
    height: 100%;
    width: 100%;
    padding: 64px 128px;
    .row-invitation-cbox {
      flex: 1;
      position: relative;
      .sign-up-container {
        .form-title {
          margin-bottom: 8px;
          .form-title-h2 {
            font-weight: 500;
            color: #323338;
            font-size: 24px;
          }
        }
        .sign-up-form {
          .list-check {
            display: flex;
            flex-wrap: wrap;
            margin-left: -8px;
            .box-container {
              margin-left: 8px;
              margin-top: 16px;
              padding: 6px 16px;
              font-size: 16px;
              font-weight: 300;
              color: #676879;
              border: 1px solid #c3c6d4;
              border-radius: 32px;
              height: -moz-fit-content;
              height: fit-content;
              .form-check {
                .form-check-input {
                  box-shadow: none;
                  margin-right: 14px;
                }
                .form-check-label {
                  font-size: 16px;
                  font-weight: 300;
                }
              }
            }
          }        
        }
      }
      .sign-up-container-2 {
        margin-top: 64px;
      }
    }
    .btn-sign-up-form {
      position: absolute;
      bottom: 0;
      right: 0;
      width: fit-content;
      padding: 8px 16px;
      border-radius: 5px;
      .submit-icon {
        height: 13px;
        display: inline-block;
        margin-left: 10px;
      }
    }
    .btn-back{
      position: absolute;
      bottom: 0;
      left: 0;
      width: fit-content;
      padding: 8px 16px;
      border-radius: 2px;
      border: 1px solid #c3c6d4;
      border-radius: 5px;
      .back-icon{
        display: inline-block;
        height: 13px;
        margin-bottom: 3px;
        margin-right: 10px;
      }
      &:hover{
        background-color: #dcdfec;
        border-color: #dcdfec;
      }
    }
  }
  .invitation-cbox-left-mb {
    .sign-up-container {
      position: relative;
      flex-grow: 1;
      min-height: 0;
      height: 90%;
      padding: 0px 12px;
      margin-top: 32px;
      .form-title {
        margin-bottom: 16px;
        .form-title-h1 {
          font-size: 24px;
        }
      }
      .sign-up-form {
        position: relative;
        margin-top: 24px;
        .btn-sign-up-form {
          margin-top: 48px;
          display: flex;
          justify-content: center;
          width: 100%;

          padding: 12px 24px;
        }
        .disabled {
          opacity: 0.6;
          cursor: not-allowed;
          background-color: #ecedf5;
          color: rgba(50, 51, 56, 0.38);
          border-color: #ecedf5;
        }
      }
    }
  }
}

// --------------InviteMember-------------
.inviteMember {
  padding: 0;
  height: 100%;
  width: 100%;
  .invite-member-left {
    height: 100%;
    width: 100%;
    padding: 64px 96px;
    .row-invite-member {
      flex: 1;
      position: relative;
      .sign-up-container {
        .form-title {
          margin-bottom: 8px;
          .form-title-h2 {
            font-weight: 500;
            color: #323338;
            font-size: 24px;
          }
          .form-title-p{
            font-size: 18px;
          }
        }
        .sign-up-form {
          height: 100%;
          width: 75%;
          .list-input {
            .input-container {
              .input-group{
                .input-data{
                  box-shadow: none;
                }
                .btn-dropdown{
                  box-shadow: none;
                }
                .dropdown-item{
                  .dropdown-h5{
                    font-size: 16px;
                  }
                  .dropdown-p{
                    font-size: 12px;
                  }
                }
              }
            }
          }
          .add-btn{
            padding: 8px 16px;
            border-radius: 5px;
            &:hover{
              background-color: #dcdfec;
            }
          }        
        }
      }
      .sign-up-container-2 {
        margin-top: 64px;
      }
    }
    .btn-sign-up-form {
      position: absolute;
      bottom: 0;
      right: 0;
      width: fit-content;
      padding: 8px 16px;
      border-radius: 5px;
      .submit-icon {
        height: 13px;
        display: inline-block;
        margin-left: 10px;
      }
    }
    .btn-back{
      position: absolute;
      bottom: 0;
      left: 0;
      width: fit-content;
      padding: 8px 16px;
      border-radius: 2px;
      border: 1px solid white;
      border-radius: 5px;
      .back-icon{
        display: inline-block;
        height: 13px;
        margin-bottom: 3px;
        margin-right: 10px;
      }
      &:hover{
        background-color: #dcdfec;
        border-color: #dcdfec;
      }
    }
  }
  .invite-member-left-mb {
    .sign-up-container {
      position: relative;
      flex-grow: 1;
      min-height: 0;
      height: 90%;
      padding: 0px 12px;
      margin-top: 32px;
      .form-title {
        margin-bottom: 16px;
        .form-title-h1 {
          font-size: 24px;
        }
      }
      .sign-up-form {
        position: relative;
        margin-top: 24px;
        .btn-sign-up-form {
          margin-top: 48px;
          display: flex;
          justify-content: center;
          width: 100%;

          padding: 12px 24px;
        }
        .disabled {
          opacity: 0.6;
          cursor: not-allowed;
          background-color: #ecedf5;
          color: rgba(50, 51, 56, 0.38);
          border-color: #ecedf5;
        }
      }
    }
  }
}